* {
  border-radius: 5px;
  /* border: 1px solid red; */

}

#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* WELCOME PAGE */
.title {
  font-size: 4rem;
}
.signIn {
  display: flex;
  width: 100%;
  flex-direction: column;
}


/* GAME SETUP PAGE */
.userCorner {
  position: absolute;
  font-size: .75rem;
  line-height: 25%;
  text-align: right;
  right: 5px;
  top: 5px;
  padding: 0 5px;
  border: solid 1px black;
  background-color: aliceblue;
}

/* GAME PLAY PAGE */
.gameBoard {
  height: 90vh;
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  background-color: aliceblue;
  border-radius: 10px;
  }

.target {
  grid-area: 1 / 1 / 2 / 5;
  letter-spacing: 2rem;
  font-size: 3rem;
  align-self: center;

}
.gameCorner {
  grid-area: 1 / 5 / 2 / 6;
  width: 20vw;
  height: 20vw;
  border: 1px solid black;
}

.gameWordsFound {
  grid-area: 2 / 1 / 5 / 6;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}

.word {
  flex: 1 0 10%;
  margin: 1px;
  font-size: 1.3rem;
  padding: 1rem;
}

.gameGuess {
  grid-area: 5 / 1 / 6 / 4;
  /* display: flex;
  justify-content: center;
   */
}

.gameGuess input {
  text-transform:uppercase;
  text-align: center;
  font-size: 2rem;
  align-self: center;
}


.gameLog {
  grid-area: 5 / 4 / 6 / 6;
  list-style: none;
}

table {
  margin: auto;
}
